/* miniprogram/pages/modal/modal.wxss */
.commodity_screen {
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 background: #000;
 opacity: 0.4;
 overflow: hidden;
 z-index: 1000;
 color: #fff;
}
 
.commodity_attr_box {
 width: 100vw;
 overflow: hidden;
 position: fixed;
 bottom: 0;
 left: 0;
 z-index: 2000;
 background: #fff;
 border-radius:18rpx 18rpx 0 0;
 padding: 20rpx 20rpx 35rpx;
 box-sizing: border-box;
}
.commodity_attr_box h4{
  font-size: 40rpx;
  line-height: 50rpx;
  word-break: break-all;
  padding: 10rpx 20rpx;
}
.slectTypeList{
  margin-bottom: 30rpx;
}
.slectTypeItem{
  border: 1px solid #eee;
  border-radius: 6rpx;
  width: 77vw;
  margin: 20rpx auto;
  padding: 12rpx 30rpx;
}
.slectTypeItem .modalprice{
  font-size: 30rpx;
  margin-right: 15rpx;
  line-height: 48rpx;
}
.slectTypeItem .modaltype{
  font-size: 20rpx;
  color: #666;
  line-height: 48rpx;
}
.slectTypeItem.active{
  border: 2px solid #fb8d4a;
}
.commodity_attr_box .addToShopCart{
  background: #fb8d4a;
  color: #fff;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
}

.choosenumbox{
  display: flex;
  border-radius: 10rpx;
  border: 1rpx solid #cfcfcf;
  min-width: 150rpx;
  max-width: 200rpx;
  margin: 20rpx 0 40rpx 40rpx;
}
.choosenumbox view{
  display: flex;
  justify-content: center;
  min-width: 50rpx;
  height: 50rpx;
}
.choosenumbox .del{
  font-size: 36rpx;
  color: #616161;
}
.choosenumbox .del,
.choosenumbox .add{
    width: 50rpx;
}
.choosenumbox .add{
font-size: 36rpx;
 color: #616161;
}
.choosenumbox .num{
  border-left:1rpx solid #cfcfcf;
  border-right: 1rpx solid #cfcfcf;
}
.choosenumbox .num input{
  font-size: 36rpx;
  color: #fb8d4a;
  text-align: center;
}
