<!--miniprogram/pages/details/details.wxml-->
<wxs src="../../utils/pageCalculate.wxs" module="calculate" />
<view class='detailsContainer'>
    <view class='detailBanner'>
      <image src='{{softwareDetails.img}}' class='cover'></image>
      <image src='{{softwareDetails.img}}' class='imgCenter'></image>
    </view>
    <view class='detailsContent'>
      <h4>{{softwareDetails.softName}}</h4>
      <span class='price'>¥ {{softwareDetails.price}} 起</span>
      <view class='detailIntro'>
        <p class=''>Basic introduction:</p>
        <p class=''>{{softwareDetails.introduce}}</p>
      </view>
    </view>
    <view class='detailsBottem'>
      <view class='bottemContant clearfix'>
        <view class='toHome' bindtap='toHome'> <image src='../img/homepage.png' class='icon'></image></view>
        <view class='toShopC' bindtap='toShopC'> 
          <image src='../img/shopping.png' class='icon'></image>
          <span class='shoppingNum'>{{shoppingNum}}</span>
        </view>
        <button class='selectCategory' bindtap="showModal">多种类别可选</button>
      </view>
    </view>

    <modal modal-id="{{softwareDetails.id}}" id='selectModal' bind:hideModalEvent="_hideModalEvent"/>

</view>
